<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>I.T Chatbot</title>
    <link rel="icon" type="image/png" href="../static/images/download (1).jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support" id="chatbotContainer">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                   <!--<img src="static\images\Communications-Authority-of-Kenya-TENDER.webp" alt="image">-->
                </div>
                <div class="chatbox__content--header">
                    <h2 class="chatbox__heading--header"> C.A chatbot </h2>
                    <!--<button class="settings-button" id="settingsButton">...</button>-->
                    <div class="dropdown">
                        <button class="settings-button" id="settingsButton"><img width="48" height="48" src="https://img.icons8.com/color/48/settings-3--v1.png" alt="Settings"></button>
                        <div class="dropdown-content" id="dropdownContent">
                            <a href="#" id="maximizeButton">Maximize</a>
                            <a href="#" id="downloadButton">Download</a>
                        </div>
                      </div>
                </div>
              
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <!-- <input type="file"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/attach.png" alt="attach"/></input> -->
                <button class="chatbox__attach--footer attach__button" id="attachButton"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/attach.png" alt="attach"/></button>
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button id="openChatButton">Open Chat</button> <!-- Add this button -->
        </div>
    </div>
</div>

<script>
    // JavaScript to handle opening the chatbox when the button is clicked
    document.getElementById("openChatButton").addEventListener("click", function() {
        document.getElementById("chatbotContainer").style.display = "block";
    });
</script>
    
</body>
</html>
